<div class="example-container" style="padding-left:20px">
    <h2>Comprare</h2>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag style="background-color: #73afff;color: black">{{item}}</div>
    </div>
  </div>
  
  <div class="example-container"  style="padding:0 20px">
    <h2>Carrello</h2>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag style="color: white;background-color:grey">{{item}}</div>
    </div>
  </div>
  
