<mat-toolbar style="background-color: #2c87ff;">
    <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>-->
    <span>Lista della Spesa</span>
    <span class="example-spacer"></span>
    
      <div id="user" (click)="logout()">
          <div id="userfake">
              
          </div>
        <img src="{{ Immagine }}" width="22px" height="22px" style="border-radius: 100%; display: inline;">
        <p style="display: inline; margin:1x; margin: 0 10px;; font-size:10px;">{{ NomeU }}</p>
    </div>

  </mat-toolbar>

  